<!-- This is the html file that will display the title of each entry. -->
{% extends "encyclopedia/layout.html" %}

<!-- This is the <title> html tag. This displays the entry's title on the web browser's tab. -->
<!-- I need to insert python code in here to dynamically show the name of the article in the web browser's tag.
NEITHER "word" NOR "variables" WORK IF I USE THEM AS A TITLE.

I will use this tutorial: https://iheanyi.com/journal/2020/04/04/dynamic-page-titles-in-django/ .-->
{% block title %}
    {{article}}
{% endblock %}

{% block body %}
    <!-- This shows the title of the page in <h1> tags. I will also modify this to show the title of the entry article.
        
    I don't need this: the markdown notation from the md files will already put an h1 tag to the titles. -->
    <!-- <h1>All Pages</h1> -->

    <!-- I removed the <ul> and the <li> tags to make the entry pages more readable (though it has some extra
    spaces that I need to remove.)

    In the "index.html" file, If I'm at "127.0.0.1", this displays all of the articles. However, If I'm at
    "127.0.0.1/wiki/article_name", this displays me all of the text from the ".md" files in a weird format, that is.
    it displays me the content for that article. 

    To display an error message if the entry doesn't exist, I can use an “if” 
    statement. If the entry exists, I will print the 
    respective .md file of that entry. Meanwhile, if the entry does not exist, I will 
    print an error message saying “page not found”. I won’t make a complex error 
    message using Django’s back end. I will simply use an <h1> tag and a <p> tag 
    for the error message.
    
    To check whether the entry exists or not, I could check the value being returned
    from util.py or from the get_entry() function. If the entry doesn’t exist, that 
    function will return “None”. 
    
    So, I will check if “None” is being returned. If it is, the entry doesn’t exist 
    and I will have to display the error message. Otherwise, I will display the 
    existing entry.

    I could check if a variable is equal to “not found”. So, the “if” 
    condition on the Django template in the display_entry.html file will check if 
    the “entry” variable is “not found”. If it is, the entry doesn’t exist, so I will 
    display the error message. Otherwise, I will display the entry.

    I need to check if the "entries" 'array' is equal to not found. If I use "entry"
    instead, I will get "n o t f o u n d" as the entry's text.

    To fix the bug that was causing me to print an extra space between each character while printing the entry (i.e:
    "CSS" was being printed as "C S S"), I needed to remove teh for loop that I was using to print the entry, and,
    instead, I was just printing the whole "array" that contained the entry  (i.e: instead of using "for entry in
    entries", I just used "{{entry}}" instead.)

    Then, I added the "|safe" attribute so that the HTML tags (h1 and p) were parsed, so that the Markdown notation
    is finally being properly converted into HTML.
    -->
    {% if entries == 'not found' %}
        <h1>Page Not Found</h1>
        <p>Sorry, but this entry does not exist.</p>
    {% else %}
        {{entries|safe}}
    {% endif %}

    <!-- I will use this to see if I'm getting the name of the .md file, which is what I'll use as the entry's title. -->
   {{title}}

    


{% endblock %}