<!-- This is the html file that will display the title of each entry. -->
{% extends "encyclopedia/layout.html" %}

<!-- This is the <title> html tag. This displays the entry's title on the web browser's tab. -->
<!-- I need to insert python code in here to dynamically show the name of the article in the web browser's tag.
NEITHER "word" NOR "variables" WORK IF I USE THEM AS A TITLE.

I will use this tutorial: https://iheanyi.com/journal/2020/04/04/dynamic-page-titles-in-django/ .

I will use "title" to see if I'm getting the name of the .md file, which is what I'll use as the entry's title. I need to use 
"title", NOT "fixed_title", since that's the name that I gave to the variable in views.py.-->
{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <!-- This shows the title of the page in <h1> tags. I will also modify this to show the title of the entry article.
        
    I don't need this: the markdown notation from the md files will already put an h1 tag to the titles. -->
    <!-- <h1>All Pages</h1> -->

    <!-- I removed the <ul> and the <li> tags to make the entry pages more readable (though it has some extra
    spaces that I need to remove.)

    In the "index.html" file, If I'm at "127.0.0.1", this displays all of the articles. However, If I'm at
    "127.0.0.1/wiki/article_name", this displays me all of the text from the ".md" files in a weird format, that is.
    it displays me the content for that article. 

    To display an error message if the entry doesn't exist, I can use an “if” 
    statement. If the entry exists, I will print the 
    respective .md file of that entry. Meanwhile, if the entry does not exist, I will 
    print an error message saying “page not found”. I won’t make a complex error 
    message using Django’s back end. I will simply use an <h1> tag and a <p> tag 
    for the error message.
    
    To check whether the entry exists or not, I could check the value being returned
    from util.py or from the get_entry() function. If the entry doesn’t exist, that 
    function will return “None”. 
    
    So, I will check if “None” is being returned. If it is, the entry doesn’t exist 
    and I will have to display the error message. Otherwise, I will display the 
    existing entry.

    I could check if a variable is equal to “not found”. So, the “if” 
    condition on the Django template in the display_entry.html file will check if 
    the “entry” variable is “not found”. If it is, the entry doesn’t exist, so I will 
    display the error message. Otherwise, I will display the entry.

    I need to check if the "entries" 'array' is equal to not found. If I use "entry"
    instead, I will get "n o t f o u n d" as the entry's text.

    To fix the bug that was causing me to print an extra space between each character while printing the entry (i.e:
    "CSS" was being printed as "C S S"), I needed to remove teh for loop that I was using to print the entry, and,
    instead, I was just printing the whole "array" that contained the entry  (i.e: instead of using "for entry in
    entries", I just used "{{entry}}" instead.)

    Then, I added the "|safe" attribute so that the HTML tags (h1 and p) were parsed, so that the Markdown notation
    is finally being properly converted into HTML.

    I ended using “'substring' in any_string” instead of using “string.find("substring")” (source: Aaron Hall 
    from https://stackoverflow.com/questions/3437059/does-python-have-a-string-contains-substring-method .)

    I have a bug in which, if an entry title has upper case letters, but the user typed everything in lowercase letters, 
    no entry titles will be displayed. To fix this, I will use the lower() function (source: 
    https://www.geeksforgeeks.org/isupper-islower-lower-upper-python-applications/#:~:text=In%20Python%2C%20lower()%20is,all%20uppercase%20characters%20to%20lowercase. 
    ) I will turn both the query and the array of entry titles into lowercase letter for the comparison only, but then I 
    will leave the proper casing so that the entry titles don’t show up on the list as lower case letters.

	So, instead of using “if query in entry”, I will use “if lower(query) in lower(entry)”.

    To make the entry titles displayed on the previous algorithm to be clickable and send the user to its respective entry 
    page, I will need to add a ‘href=”/wiki/{{entry}}”’ to each item from the list of results. Or in other words, I need to 
    do the exact same thing that I did for index.html to display the list of clickable links.
    -->
    {% if entries == 'not found' %}
        <h1>Page Not Found</h1>
        <p>Sorry, but this entry does not exist.</p>
    {% elif entries == 'query search' %}
        <h1>Search results</h1>
        <br>
        {% for entry in entry_titles %}
            <ul>
                <li><a href="/wiki/{{entry}}">{{entry}}</a></li>
            </ul>
        {% endfor %}


            <p>{{results_message}}</p>		


    {% else %}
        {{entries|safe}}
    {% endif %}

    <!-- I will use this to see if I'm getting the name of the .md file, which is what I'll use as the entry's title.
    I need to use "title", NOT "fixed_title", since that's the name that I gave to the variable in views.py. -->
    <!-- {{title}} -->

    <!-- DEBUGGING MESSAGES. DELETE LATER. -->
    {{entry_title}}
    {{entry_description}}
    


{% endblock %}