{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <!-- BUG FIX: I had to add this to fix a bug that caused the screen to move each tiem the user typed a letter on the
    search bar. I tried adding it on the CSS file in the "static" folder, but it didn't work. -->
    <body style="overflow-x: hidden;">
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2>Wiki</h2>
                <!-- I changed the request method of the form to "post". To make it work with the POST method, I added 
                a csrf token (source: https://stackoverflow.com/questions/62797803/select-an-random-page-with-django .)
                Also, I added "url 'query_search'" to go to the urls.py file and look for the query_search link, 
                and find the query_search function from the views.py file. -->
                <form action="{% url 'query_search' %}" method="post">
                    {% csrf_token %}
                    <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                </form>
                <div>
                    <a href="{% url 'index' %}">Home</a>
                </div>
                <div>
                    Create New Page
                </div>
                <div>
                    <!-- This will make the user go to a random entry from the existent entries in the wiki.
                    To do that, I will redirect the user to "URL/random". To do that, I need ot send the 
                    user to the "random_article" function from views.py. -->
                    <a href="{% url 'random_article' %}">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>